<div class="container">
    <div class="row">
        <div class="col-md-12">
            asds
        </div>
    </div>
</div>

    <div class="row">
        фывфыв
    </div>


<section class="assortment">
    <div class="container">
        <div class="row">
            <div class="assortment__list">
                <div class="assortment__list-item">
                    <div class="item item-1">
                        50х50х4 мм
                        без покрытия
                        356грн
                    </div>
                    <div class="item item-2">
                        50х50х4 мм
                        без покрытия,
                        в уголке,
                        покраска ПВХ
                        1188 грн
                    </div>
                </div>
                <div class="assortment__list-item">
                    <div class="item item-3">
                        <img src="" alt="">
                        50х50х4 мм, без покрытия, в уголке - 858 грн
                    </div>
                </div>
                <div class="assortment__list-item">
                    <div class="item item-4">
                        50х50х4 мм
                        оцинкованная,
                        в уголке,
                        покраска ПВХ
                        1290 грн
                    </div>
                </div>
                <div class="assortment__list-item">
                    <div class="item item-5">
                        50х50х4 мм оцинкованная 458 грн
                    </div>
                    <div class="item item-6">
                        50х50х4 мм оцинкованная,
                        в уголке
                        960 грн
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popular">
    <div class="container">
        <div class="row">
            <h2 class="popular__title">
                Самые популярные
            </h2>
            <p class="popular__sub-title">
                канилированные сетки
            </p>
            <div class="popular__gallery">
                gallery
            </div>
        </div>
    </div>
</section>

<section class="contactUs">
    <div class="container">
        <div class="row">
            <div class="contactUs__slider">
                <div class="item">
                    <div class="item__title">ООО Харвест Гарант </div>
                    <div class="item__text">
                        <p>
                            зарегистрированная компания со своим кодом ОКПО,
                            свидетельством НДС, плательщик предусмотренных законом налогов.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="item__title">ООО Харвест Гарант </div>
                    <div class="item__text">
                        <p>
                            зарегистрированная компания со своим кодом ОКПО,
                            свидетельством НДС, плательщик предусмотренных законом налогов.
                        </p>
                    </div>
                </div>
            </div>
            <div class="contactUs__wrap">
                <form class="contactUs__form">
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="+380...">
                    <textarea type="text" placeholder="Какую сетку хотите?"></textarea>
                    <button class="submit">Отправить</button>
                </form>

                <div class="contactUs__aboutUs">

                    <div class="contactUs__aboutUs-img">
                        <img src="" alt="alt">
                    </div>

                    <a href="#" class="btn-about">
                        Познакомиться с компанией
                    </a>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="gallery__row row-1">
                <div class="item small">
                    <img src="" alt="alt">
                </div>
                <div class="item small">
                    <img src="" alt="alt">
                </div>
                <div class="item tall">
                    <img src="" alt="alt">
                </div>
                <div class="item small">
                    <img src="" alt="alt">
                </div>
                <div class="item small">
                    <img src="" alt="alt">
                </div>
            </div>

            <div class="gallery__row row-2">
                <div class="item small">
                    <img src="" alt="alt">
                </div>
                <div class="item small">
                    <img src="" alt="alt">
                </div>
                <div class="item big">
                    <img src="" alt="alt">
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__logo">
                <img src="/img/logo-footer.png" alt="logo">
            </div>

            <ul class="footer__contact">
               <li class="footer__contact-item title">Харвест Гарант</li>
               <li class="footer__contact-item">69006 г. Запорожье</li>
               <li class="footer__contact-item">ул. Портовая 2</li>
               <li class="footer__contact-item">
                   <a href="#">m-sales@ukr.net</a>
               </li>
               <li class="footer__contact-item">
                   <a href="#">+38(095) 249-27-53</a>
               </li>
            </ul>
        </div>
        <div class="row">
            <div class="copyright">
                © 2016-2019
            </div>
        </div>
    </div>
</footer>