<section class="music">
    <h1></h1>
    <canvas id="canvas" style="width: 400px;height: 400px"></canvas>
    <ul>
        <li>
            <input type="text" id="POINTS" onkeyup="update(this);genPoints();" value=30>
        </li>
        <li>
            <input type="text" id="POINT_INTERPOLATION" onkeyup="update(this)" value=1>
        </li>
        <li>
            <input type="text" id="WAVE_SPEED" onkeyup="update(this)" value=6>
        </li>

        <li>
            <input type="text" id="AMPLITUDE_MODIFIER" onkeyup="update(this)" value=6>
        </li>
        <li>
            <input type="text" id="CLEAR_ALPHA" onkeyup="update(this)" value=0.1>
        </li>
        <li>
            <input type="text" id="HUE_FACTOR" onkeyup="update(this)" value=0.25>
        </li>
        <li>
            <input type="text" id="STROKE_WIDTH" onkeyup="update(this)" value=1>
        </li>
    </ul>

    <div class="" style='position:relative;left: -220px'>

    </div>

    <!--li-->
    <!--|POINTS-->
    <!--input#POINTS(onkeyup="update(this);genPoints();" value=30)-->
    <!--li-->
    <!--|POINT INTERPOLATION-->
    <!--input#POINT_INTERPOLATION(onkeyup="update(this)" value=1)-->
    <!--li-->
    <!--|WAVE SPEED-->
    <!--input#WAVE_SPEED(onkeyup="update(this)" value=6)-->
    <!--li-->
    <!--|AMPLITUDE MODIFIER-->
    <!--input#AMPLITUDE_MODIFIER(onkeyup="update(this)" value=6)-->
    <!--li-->
    <!--|CLEAR ALPHA-->
    <!--input#CLEAR_ALPHA(onkeyup="update(this)" value=0.1)-->
    <!--li-->
    <!--|HUE FACTOR-->
    <!--input#HUE_FACTOR(onkeyup="update(this)" value=0.25)-->
    <!--li-->
    <!--|FILL STYLE-->
    <!--input#FILL_STYLE(onkeyup="update(this)" value='#222')-->
    <!--li-->
    <!--|* STROKE WIDTH-->
    <!--input#STROKE_WIDTH(onkeyup="update(this)" value=1)-->
    <!--div(style='position:relative;left: -220px')-->
    <!--input(type='button' value=1 onclick='return setPattern(0)')-->
    <!--input(type='button' value=2 onclick='return setPattern(1)')-->
    <!--input(type='button' value=3 onclick='return setPattern(2)')-->
    <!--input(type='button' value=4 onclick='return setPattern(3)')-->
    <!--input(type='button' value=5 onclick='return setPattern(4)')-->
    <!--h2-->
    <!--|Thanks for stopping by-->
    <!--h3-->
    <!--|A pen by Aeyos-->

</section>