$main-txt: #7e7f7e;
$title: #3c3d3c;$red: #f77565;
$green: #69b645;
$purple: #5d64c2;
$orange: #f6ac0b;
$light-gray: #d9d9d9;
$l-border: #ebebeb;

$toplist-black: #231f20;

$BelleFont: 'LillyBelle$montFont: 'Montserrat';
// $fontAw: 'FontAwesome';