@charset 'utf-8';

//@import "vendors/_foundation";
//@import "vendors/_bootstrap";
//@import "vendors/_font-awesome";
//@import "vendors/_hamburgers.min";
@import "vendors/_slick";
@import "vendors/_slick-theme";
//@import "vendors/_magnific-popup.scss";
// @import "vendors/vendor_extensions/_bootstrap";
// @import "vendors/vendor_extensions/_font-awesome";
// @import "vendors/vendor_extensions/_hamburgers";
// @import "vendors/vendor_extensions/_slick-theme";
@import "inc/fonts";
// @import "layout/_header";
@import "layout/_header";
@import "layout/_main";
@import "layout/_footer";
@import "components/_sprite";
@import "components/_buttons";
@import "components/_text";


@import "inc/fonts";
@import "inc/_variables";
@import "inc/_mixins";

body {
    color: $font-color-default;
    font-family: $font-family-primary;
    font-size: $font-size-base;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: opacity 2.5s;
    visibility: visible;
    opacity: 1;
    -webkit-print-color-adjust: exact;
    background: #fff;
    @include respond-to($small-max) {
        justify-content: center;
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
    }

    &.loaded {
        overflow: auto;

        .loader {
            opacity: 0;
            touch-action: none;
        }

        .secondary-loader {
            opacity: 0;
            touch-action: none;
        }
    }

    .row {
        max-width: 1542px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        padding: 0 10px;

        @include respond-to($medium) {
           max-width: 700px ;
        }
    }


}

main, header, footer {

    transition: transform .3s;

    &.menu-opened{
        transform: translateX(-258px)!important;

        &:before {
            visibility: visible;
            opacity: 1;
        }
    }

    &:before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: rgba(8,8,8,.8);
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 110;
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s, visibility .3s;
    }

}

* {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    ::-moz-focus-outer,
    ::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

a {
    color: $font-color-default;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

h1, h2, h3, h4, h5 {
    font-family: $font-family-primary;
    margin: 0;
    padding: 0;
    font-weight: 400;
    word-wrap: break-word;
}

h1, .h1 {
    font-size: 70px;
    line-height: 1.4;
}

h2, .h2 {
    font-size: 50px;
    line-height: 1.4;
}

h3, .h3 {
    font-size: 36px;
    line-height: 1.4;
}

h4, .h4 {
    font-size: 30px;
    line-height: 1.4;
}

h5, .h5 {
    font-size: 30px;
    line-height: 1.4;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    word-wrap: break-word;
}

img {
    display: block;
    max-width: 100%;
}

fieldset {
    border: none;
    padding: 0;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

input,
textarea,
select,
button {
    color: $font-color-default;
    font-family: $font-family-primary;
    font-size: 16px;
    font-weight: 400;

}

input[autocomplete='off']::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0;
}

input {
    -webkit-padding-start: 0;
}

input {
    &::-webkit-search-decoration {
        -webkit-appearance: none;
    }
}

.phone-banner {
    position: fixed;
    top: 0;
    left: 50%;
    background: url('/img/phone-banner-bg.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 100;
    height: 120px;
    width: 50vw;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    transition: transform .3s;
    min-width: 700px;
    @include respond-to($large) {
        min-width: 600px;
        height: 100px;
    }
    @include respond-to($medium) {
        left: 0;
        min-width: 0;
        width: 100%;
        height: 75px;
    }

    &.fixed {
        transform: translateX(0);
    }

    &__title {
        font-size: 30px ;
        font-weight: 500;
        color: #1e1e1e;
        margin-left: 77px;
        margin-right: 30px;
        @include respond-to($large) {
            margin-left: 30px;
            margin-right: 20px;
            font-size: 26px;
        }
        @include respond-to($tablet) {
            font-size: 18px;
        }
        @include respond-to($tiny) {
            margin-left: 15px;
            margin-right: 10px;
        }
    }

    .btn-phone {
        background: url('/img/phone-banner-bg-2.png') no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        font-size: 30px;
        color: #b7292b;
        text-shadow: 0 0 7px rgba(255, 255, 255, 0.75);
        font-weight: bold;
        padding: 19px 15px 20px 15px;
        height: 62px;
        display: flex;
        align-items: center;
        transition: color .3s;
        @include respond-to($large) {
            font-size: 26px;
        }
        @include respond-to($tablet) {
            font-size: 18px;
            height: auto;
            padding: 6px 15px;
        }
        @include respond-to($tiny) {
            padding: 6px 5px;
        }
        &:hover {
            color: darken(#b7292b , 10%);
        }

    }



}

.hero {
    background: #000;
    color: #fff;
    height: 1080px;
    position: relative;
    display: flex;
    overflow: hidden;
    @include respond-to($large) {
        height: 980px;
        //min-height: 100vh;
    }
    @include respond-to($medium) {
        padding-bottom: 336px;
        padding-top: 100px;
        height: auto;
    }
    @include respond-to($tablet) {
        padding-bottom: 308px;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../img/tiger-1.jpg') 0 100% no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include respond-to($medium) {
            height: 336px;
            top: initial;
            -webkit-background-size: 620px;
            background-size: 620px;
        }

    }

    &-bg {
        position: absolute;
        bottom: 0;
        right: -168px;
        z-index: 0;
        @include respond-to('(max-width: 1800px)') {
            max-width: 640px;
        }
        @include respond-to($large) {
            max-width: 500px;
        }
        @include respond-to($medium) {

        }
        @include respond-to($tablet) {
            left: 0;
            right: 0;
            top: -68px;
            margin: auto;
        }

        img {
            @include respond-to($tablet) {
                left: 0;
                right: 0;
                top: 0;
                transform: rotate(37.5deg);
                max-width: 310px;
                margin: auto;
            }
        }
    }

    .row {
        position: relative;
        z-index: 1;
        height: 100%;
    }

    &__container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        @include respond-to($medium) {
            justify-content: flex-start;
        }
        @include respond-to($tablet) {
            justify-content: center;
        }

    }

    &__content {
        position: relative;
        z-index: 5;
        float: right;
        max-width: 516px;
        width: 100%;
        margin-top: 220px;
        @include respond-to($medium) {
            margin-top: 0;
        }
        @include respond-to($tablet) {
            max-width: 450px;
        }

        &-title-1 {
            font-size: 36px;
            font-weight: 300;
            color: #b7b7b7;
            line-height: 1.3;
            margin-bottom: 38px;
            @include respond-to($medium) {
                font-size: 32px;
            }
            @include respond-to($tablet) {
                font-size: 20px;
                margin-bottom: 22px;
                margin-left: 34px;
            }
        }

        .hero__content-btn {
            margin: 0 0 60px;
            @include respond-to($medium) {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }

        &-title-2 {
            font-size: 50px;
            font-weight: 400;
            color: #e7e7e7;
            margin-top: 20px;
            line-height: 1.6;
            @include respond-to($medium) {
                font-size: 36px;
                margin-top: 0;
            }
            @include respond-to($tablet) {
                font-size: 25px;
                margin-left: 34px;
            }
        }

        .btn-orange {
            @include respond-to($tablet) {
                font-size: 21px;
                max-width: 230px ;
                height: 55px ;
                border-radius: 10px;
                margin-left: 34px;
                margin-bottom: 23px;
                margin-top: 0;
            }
        }
    }
}

.about {
    height: 1080px;
    position: relative;
    display: flex;
    align-items: center;
    @include respond-to($large) {
        height: 800px;
    }
    @include respond-to($medium) {
        height: auto;
        padding: 75px 0;
    }
    @include respond-to($tablet) {
        padding: 63px 0 20px;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../img/contact-bg.jpg') 50% 50% no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;


    }

    .row {
        position: relative;
        z-index: 1;
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include respond-to($tablet) {
            display: none;
        }
    }

    &__mobile-block {
        display: none;
        @include respond-to($tablet) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .about__title {
            font-size: 16px;
            color: #f0551a;
            text-transform: uppercase;
            font-family: 'Micra';
            margin-bottom: 30px;
            padding: 0 30px;
            @include respond-to($tablet) {
                margin-bottom: 18px;
            }
        }

        img {
            margin-bottom: 60px;
            width: 100%;
            max-width: 400px;
        }
    }
}

.efficiency {
    //height: 1080px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 75px 0 164px;
    @include respond-to($large) {
        padding: 50px 0 100px;
    }
    @include respond-to($medium) {
        padding-bottom: 430px;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../img/tiger-5.jpg') 100% 100% no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include respond-to($large) {
            background-position: 50% 50%;
        }
        @include respond-to($medium) {
            height: 430px;
            top: initial;
            background: url('../img/tiger-6.png')  100% 100% no-repeat;
            z-index: 4;
            background-size: 320px;
            bottom: 23px;
        }

    }

    .row {
        position: relative;
        z-index: 1;
    }

    &__content {
        max-width: 738px;
        width: 100%;

        &-title {
            font-size: 70px;
            font-weight: bold;
            width: 100%;
            text-align: left;
            color: #565656;
            line-height: 1;
            @include respond-to($large) {
                font-size: 60px;
            }
            @include respond-to($medium) {
                font-size: 50px;
            }
            @include respond-to($tablet) {
                font-size: 30px;
                padding: 0 15px;
            }
        }
        &-sub-title {
            font-size: 50px;
            font-weight: 400;
            width: 100%;
            text-align: right;
            margin-bottom: 80px;
            color: #565656;
            line-height: 1;
            @include respond-to($large) {
                font-size: 44px;
                margin-bottom: 50px;
            }
            @include respond-to($medium) {
                font-size: 36px;
                text-align: left;
            }
            @include respond-to($tablet) {
                font-size: 30px;
                padding: 0 15px;
                margin-bottom: 35px;
            }
        }

        &-text {
            max-width: 575px;
            width: 100%;
            margin-left: 68px;
            margin-bottom: 44px;
            display: inline-block;
            @include respond-to($large) {
                margin-bottom: 30px;
            }
            @include respond-to($tablet) {
                margin: 0;
                padding: 0 15px;
            }

            h4 {
                font-size: 30px;
                font-weight: 400;
                color: #f0551a;
                margin-bottom: 35px;
                text-transform: uppercase;
                font-family: 'Micra';
                @include respond-to($large) {
                    font-size: 26px;
                    margin-bottom: 15px;
                }
                @include respond-to($medium) {
                    font-size: 22px;
                }
                @include respond-to($tablet) {
                    font-size: 16px;
                }
            }

            p {
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 40px;
                color: #565656;
                line-height: 1.2;
                letter-spacing: -0.4px;
                @include respond-to($large) {
                    font-size: 18px;
                    margin-bottom: 30px;
                }
                @include respond-to($medium) {
                    font-size: 16px;
                }
            }
        }

        &-form {
            background-color:#ededed;
            border-radius: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 50px 58px;
            max-width: 740px;
            width: 100%;
            margin: 0 auto;
            @include respond-to($medium) {
                display: flex;
                flex-direction: column;

            }
            @include respond-to($tablet) {
                padding: 44px 25px 44px;
            }


            .label {
                display: inline-block;
                width: calc(50% - 26px);
                position: relative;
                transition: height .3s, margin-bottom .3s;
                float: left;
                margin: 0 0 30px;
                @include respond-to($medium) {
                    width: 100%;
                }
                @include respond-to($tablet) {
                    margin: 0 0 30px;
                }

                &:before {
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 0;
                    opacity: .3;
                    background-color: #c4c4c4;
                    border: 1px solid #b5b5b5;
                    border-radius: 5px ;
                }

                &.full {
                    width: 100%;
                }

                input {
                    display: inline-block;
                    width: 100%;
                    height: 50px;
                    margin-bottom: 0;
                    color: #828282;
                    font-size: 20px;
                    padding: 11px 12px;
                    border: none;
                    background: transparent;


                    @include respond-to($tablet) {
                        font-size: 16px;
                    }

                }
                input::placeholder {
                    color: rgba(45, 57, 64, .8);
                }
            }
            .submit {
                @include respond-to($tablet) {
                    font-size: 26px;
                }
            }

        }
    }

}

.properties {
    padding: 60px 0 0;
    @include respond-to($large) {
        padding: 50px 0 100px;
    }
    @include respond-to($tablet) {
        padding: 76px 0 130px;
    }

    &__content {
        background: #efac28;
        border-radius: 20px;
        padding: 70px 70px;
        margin-bottom: 200px;
        width: 100%;
        @include respond-to($large) {
            padding: 50px 20px 30px;
            margin-bottom: 0;
        }
        @include respond-to($medium) {
            padding: 32px 25px 50px ;
        }
        &-title {
            display: flex;
            flex-direction: column;
            h3 {
                display: inline-block;
                width: 100%;
                color: #565656;
                font-size: 50px;
                line-height: 1;
                letter-spacing: -1.5px;
                @include respond-to($large) {
                    font-size: 40px;
                }
                @include respond-to($medium) {
                    font-size: 36px;
                }
                @include respond-to($tablet) {
                    font-size: 30px;
                    margin-bottom: 15px;
                }

                .small {
                    display: none;
                    @include respond-to($medium) {
                        display: inline-block;
                    }

                }

            }
            h2 {
                display: inline-block;
                width: 100%;
                color: #fff;
                font-size: 70px;
                text-align: right;
                font-weight: 900;
                line-height: 1;
                letter-spacing: -.6px;
                margin-top: -16px;
                margin-bottom: 60px;
                @include respond-to($large) {
                    font-size: 60px;
                    margin-bottom: 40px;
                }
                @include respond-to($medium) {
                    font-size: 36px;
                    text-align: left;
                    margin-top: 0;
                }
                @include respond-to($tablet) {
                    font-size: 30px;
                }

                .small {
                    color: #565656;
                    font-size: 50px;
                    font-weight: 400;
                    @include respond-to($large) {
                        font-size: 40px;
                    }
                    @include respond-to($medium) {
                        display: none;
                    }
                }
            }
        }

        &-list {
            display: flex;
            margin: 0 -25px 50px;
            @include respond-to($xlarge) {
                margin: 0 0 50px;
            }
            @include respond-to($large) {
                margin: 0 0 30px;
            }
            @include respond-to($medium) {
                flex-direction: column;
            }
            @include respond-to($tablet) {
                margin-bottom: 12px;
            }

            &-item {
                width: 25%;
                padding: 0 25px;
                @include respond-to($xlarge) {
                    padding: 0 10px;
                }
                @include respond-to($medium) {
                    width: 100%;
                    padding: 0;
                }
            }

            .item {
                background: rgba(255,255,255,.4);
                border-radius: 10px;
                padding: 54px 26px 45px;
                height: 100%;
                @include respond-to($xlarge) {
                    padding: 30px 15px 25px;
                }
                @include respond-to($medium) {
                    margin-bottom: 15px;
                    display: flex;
                    flex-direction: column;
                }
                @include respond-to($tablet) {
                    padding: 13px 25px;
                }

                &-title {
                    font-size: 30px;
                    color: #565656;
                    font-weight: 900;
                    display: inline-block;
                    margin-bottom: 30px;
                    letter-spacing: -.9px;
                    @include respond-to($large) {
                        font-size: 26px;
                        margin-bottom: 20px;
                    }
                    @include respond-to($tablet) {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }


                }

                &-text {
                    font-size: 20px;
                    color: #565656;
                    display: inline-block;
                    line-height: 1.2;
                    letter-spacing: -.9px;
                    @include respond-to($large) {
                        font-size: 18px;
                    }
                    @include respond-to($tablet) {
                        font-size: 16px;
                        margin-bottom: 7px;
                    }

                    .red {
                        color: #b7292b;
                    }
                }

                &.active {
                    background: rgba(255,255,255,.75);
                    overflow: hidden;
                    .item-title {
                        position: relative;
                        z-index: 5;
                        @include respond-to($tablet) {
                            margin-bottom: 26px;
                        }

                        &:before {
                            content: '';
                            display: inline-block;
                            height: 60px;
                            width: 200%;
                            position: absolute;
                            left: -30%;
                            top: -4px;
                            z-index: -1;
                            background-image: linear-gradient(to top, #a7a7a7 0%, #ffffff 100%);
                            @include respond-to($tablet) {
                                height: 45px;
                            }
                        }

                    }
                }
            }

        }

        &-bg_line {
            display: flex;
            width: 100%;
            justify-content: center;
            @include respond-to($large) {
               max-width: 700px;
                margin: 0 auto;
            }
            @include respond-to($tablet) {
                height: 135px;
                overflow: hidden;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;


            }

            img {

                @include respond-to($tablet) {
                    height: 100%;
                    object-fit: cover;
                }

            }

        }
    }


}

.reliability {
    background: #000;
    padding: 180px 0 50px;
    color: #fff;
    height: 1080px;
    position: relative;
    display: flex;
    @include respond-to($large) {
        height: 980px;
        padding: 100px 0 50px;
    }
    @include respond-to($medium) {
        padding-top: 446px;
        height: auto;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../img/tiger-2.jpg') 0% 0% no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include respond-to($medium) {
            background-size: 1200px;
        }
    }

    .row {
        //position: relative;
        z-index: 1;
        height: 100%;
    }

    &__container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    &__content {
        max-width: 790px;

        &-title {
            font-size: 50px;
            color: #b7b7b7;
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            line-height: 1;
            letter-spacing: -.9px;
            @include respond-to($large) {
                font-size: 40px;
            }
            @include respond-to($medium) {
                position: absolute;
                top: 160px;
                left: 34px;
                margin-bottom: 0;

            }
            @include respond-to($tablet) {
                display: inline-block;
                font-size: 30px;
            }

            .orange {
                font-size: 70px;
                font-weight: 900;
                color: #f0551a;
                @include respond-to($large) {
                    font-size: 60px;
                }
                @include respond-to($medium) {
                    position: relative;
                    top: 120px;
                    margin-left: -50px;
                }
                @include respond-to($tablet) {
                    font-size: 30px;
                }
            }
        }

        &-sub-title {
            color: #b7b7b7;
            font-weight: 300;
            font-size: 36px;
            margin-bottom: 50px;
            line-height: 1.3;
            letter-spacing: -.9px;
            @include respond-to($large) {
                font-size: 32px;
            }
            @include respond-to($medium) {
                padding: 0 15px;
            }
            @include respond-to($tablet) {
                font-size: 25px;
                padding: 0 10px 0 25px;
                margin-bottom: 22px;
            }

            .white {
                color: #ffffff;
                @include respond-to($tablet) {
                    display: inline-block;
                    width: 100%;
                }

            }
        }

        &-text-1 {
            color: #b7b7b7;
            font-weight: 300;
            font-size: 20px;
            line-height: 1.3;
            margin-bottom: 96px;
            letter-spacing: -.4px;
            @include respond-to($large) {
                font-size: 18px;
                margin-bottom: 50px;
            }
            @include respond-to($medium) {
                padding: 0 15px;
            }
            @include respond-to($tablet) {
                font-size: 16px;
                padding: 0 25px;
                margin-bottom: 20px;
            }

            .white {
                color: #ffffff;
            }
        }

        &-text-2 {
            position: relative;
            max-width: 646px;
            padding: 90px 20px 22px 50px;
            display: flex;
            font-size: 30px;
            color: #f0551a;
            margin-left: 38px;
            letter-spacing: -.9px;
            line-height: 1.3;
            @include respond-to($large) {
                font-size: 26px;
            }
            @include respond-to($medium) {
                margin: 0 auto;
            }
            @include respond-to($tablet) {
                font-size: 18px;
                padding: 26px 16px 22px 24px;
            }

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(255,255,255,1);
                background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(0,0,0,1)));
                background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
                background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
                background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
                background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
                opacity: .25;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 15px;
            }

        }
    }
}

.best  {
    padding: 205px 0;
    overflow: hidden;
    @include respond-to($large) {
        padding: 75px 0;
    }
    @include respond-to($tablet) {
        padding: 40px 0;
    }
    &__content {
        width: 100%;
        @include respond-to($tablet) {
            padding: 0 15px;
        }
        &-title {
            text-align: center;
            font-size: 50px;
            color: #525252;
            margin-bottom: 48px;
            letter-spacing: -.9px;
            @include respond-to($medium) {
                font-size: 40px;
            }
            @include respond-to($tablet) {
                font-size: 30px;
                margin-bottom: 10px;
            }
        }

        &-list {
            display: flex;
            margin: 0 -30px 95px;
            @include respond-to('(max-width: 1600px)') {
                margin: 0 0 95px;
            }
            @include respond-to($large) {
                margin-bottom: 50px;
            }
            @include respond-to($medium) {
                flex-wrap: wrap;
            }

            &-item {
                width: 25%;
                padding: 0 30px;
                @include respond-to($xlarge) {
                    padding: 0 10px;
                }
                @include respond-to($medium) {
                    width: 50%;
                    margin-bottom: 15px;
                }
                @include respond-to($tablet) {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 28px;
                    display: flex;
                    justify-content: center;
                }

                &:last-child {
                    @include respond-to($tablet) {
                        margin-bottom:0 ;
                    }
                }

                .item {
                    border-radius: 20px;
                    padding: 25px 18px;
                    display: inline-block;
                    height: 100%;
                    @include respond-to($tablet) {
                        padding: 25px 18px 35px;
                    }

                    &-photo {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        padding-bottom: 68%;
                        overflow: hidden;
                        margin-bottom: 30px;
                        @include respond-to($medium) {
                            padding-bottom: 50%;
                        }
                        @include respond-to($tablet) {
                            padding-bottom: 75%;
                            margin-bottom: 12px;
                        }

                        img {
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                        }
                    }

                    &-title {
                        font-size: 30px;
                        font-weight: 500;
                        width: 100%;
                        text-align: center;
                        color: #525252;
                        margin-bottom: 34px;
                        @include respond-to($xlarge) {
                            font-size: 26px;
                        }
                    }

                    &-text {
                        font-size: 25px;
                        font-weight: 400;
                        color: #525252;
                        line-height: 1.2;
                        letter-spacing: -.6px;
                        @include respond-to($xlarge) {
                            font-size: 20px;
                        }
                        @include respond-to($medium) {
                            font-size: 18px;
                        }
                        @include respond-to($tablet) {
                            font-size: 16px;
                        }
                    }


                }

                &:nth-child(odd) {
                    .item {
                        -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.3);
                        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.3);
                    }
                }
            }
        }

        &-btn {

            @include respond-to($tablet) {
                font-size: 27px;
                max-width: 290px;
                height: 70px;
            }
        }
    }
}

.contact-us {
    height: 1080px;
    position: relative;
    display: flex;
    padding: 62px 0;
    @include respond-to($large) {
        height: auto;
    }
    @include respond-to($tablet) {
        padding: 38px 0;
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../img/contact-bg.jpg') 50% 50% no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .row {
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 50px;
        color: #b7b7b7;
        line-height: 1;
        letter-spacing: -1.6px;
        text-align: center;
        margin-bottom: 52px;
        @include respond-to($large) {
            font-size: 40px;
            margin-bottom: 35px;
        }
        @include respond-to($medium) {
            font-size: 36px;
        }
        @include respond-to($tablet) {
            font-size: 30px;
            margin-bottom: 22px;
        }
    }

    &__list {
        display: flex;
        margin-bottom: 65px;
        @include respond-to($large) {
            margin-bottom: 45px;
        }
        @include respond-to($tablet) {
            flex-direction: column;
            margin-bottom: 58px;
        }

        &-item {
            width: 33.33333%;
            padding: 0 57px;
            @include respond-to($large) {
                padding: 0 15px;
            }
            @include respond-to($tablet) {
                width: 100%;
                padding: 0 10px;
                margin-bottom: 16px;
            }

            .title {
                font-size: 23px;
                text-transform: uppercase;
                font-weight: 400;
                color: #f0551a;
                margin-bottom: 38px;
                font-family: 'Micra';
                @include respond-to($large) {
                    margin-bottom: 20px;
                }
                @include respond-to($tablet) {
                    //letter-spacing: 3px;
                    margin-bottom: 13px;
                    line-height: 1.2;

                }
            }

            p {
                font-size: 20px;
                color: #565656;
                font-weight: 400;
                line-height: 1.2;
                letter-spacing: -.6px;

            }

        }


    }

    &__form {
        border-radius: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 70px;
        max-width: 740px;
        width: 100%;
        margin: 0 auto;
        background-color:#ededed;
        @include respond-to($tablet) {
            display: flex;
            flex-direction: column;
            padding: 40px 25px 50px;
        }
        .label {
            display: inline-block;
            width: calc(50% - 26px);
            position: relative;
            transition: height .3s, margin-bottom .3s;
            float: left;
            margin: 0 0 30px;
            @include respond-to($tablet) {
                width: 100%;
                margin: 0 0 30px;
            }

            &:before {
                content: '';
                display: inline-block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                opacity: .3;
                background-color: #c4c4c4;
                border: 1px solid #b5b5b5;
                border-radius: 5px ;
            }
            input {
                display: inline-block;
                width: 100%;
                height: 50px;
                margin-bottom: 0;
                color: #828282;
                font-size: 20px;
                padding: 11px 12px;
                background-color: transparent;
                border: none;
                border-radius: 5px ;
                @include respond-to($tablet) {
                    font-size: 16px;
                }


            }
            input::placeholder {
                color: rgba(45, 57, 64, .8);
            }
        }

        .submit {
            @include respond-to($tablet) {
                font-size: 26px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;

            }
        }
    }
}

.slogan {

    position: relative;
    display: flex;
    align-items: center;
    height: 950px;
    padding-top: 188px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    @include respond-to($medium) {
        height: auto;
        padding-bottom: 706px;
        padding-top: 30px;
    }
    @include respond-to($tablet) {


    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../img/tiger-3.png') 100% 100% no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include respond-to('(max-width: 1800px)') {
            -webkit-background-size: 50%;
            background-size: 50%;
        }
        @include respond-to($large) {
            width: 100%;

        }
        @include respond-to($medium) {
            height: calc(100% - 180px);
            -webkit-background-size: 73%;
            background-size: 73%;
            background-position: 100% 100%;
        }
        @include respond-to($tablet) {
            height: calc(100% - 180px);
            -webkit-background-size: 700px;
            background-size: 700px;
            background-position: 73% 100%;
        }
    }

    &:after {
        content: '';
        width: 100%;
        height: 180px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        background: #000;
        display: none;

        @include respond-to($medium) {
            font-size: 30px;
            display: inline-block;
        }
    }

    .row {
        z-index: 1;
        height: 100%;
    }

    &__content {
        margin-left: 206px;
        @include respond-to($large) {
            margin-left: 0;
            padding: 42px 0px 15px 15px;
        }
        &-title {
            font-size: 50px;
            color: #565656;
            letter-spacing: -1.4px;
            line-height: 1;
            margin-bottom: 5px;
            @include respond-to($large) {
                font-size: 40px;
            }
            @include respond-to($tablet) {
                font-size: 30px;
                line-height: 1.4;
            }
        }

        &-sub-title {
            font-size: 70px;
            color: #565656;
            letter-spacing: -1.4px;
            line-height: 1;
            margin-bottom: 90px;
            @include respond-to($large) {
                font-size: 60px;
            }
            @include respond-to($tablet) {
                font-size: 30px;
                margin-bottom: 0;
            }
            .white {
                color: #fff;
                @include respond-to($tablet) {
                    color: #f0551a;
                }
            }
        }

        .btn-up {
            @include respond-to($tablet) {
                position: absolute;
                bottom: 60px;
                left: 0;
                right: 0;
                margin: auto;
                font-size: 27px;
                height: 70px;
                max-width: 290px;
                border-radius: 10px;
            }
        }
    }
}

.footer {
    background: #050505;
    padding: 30px 0;
    @include respond-to($tablet) {
        padding: 25px 0;
    }
    &__content {
        display: flex;
        width: 100%;
        @include respond-to($tablet) {
            flex-direction: column-reverse;
            align-items: center;
        }

        &-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 0 30px;
            @include respond-to($tablet) {
                padding: 0 ;
                width: 100%;
                max-width: 250px;
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                @include respond-to($tablet) {
                    width: 100%;
                }
            }

            .logo {
                margin-top: 18px;
                margin-bottom: 24px;
                @include respond-to($tablet) {
                    width: 100%;
                }
            }

            .btn-about {
                color: #f0551a;
                font-size: 25px;
                position: relative;
                letter-spacing: -.9px;
                margin-right: 25px;
                line-height: 1.2;
                @include respond-to($tablet) {
                    display: none;
                }
                &:before {
                    content: '';
                    height: 2px;
                    width: 100%;
                    background: #f0551a;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transform: scaleX(1);
                    transition: transform .3s;
                }

                &:hover {
                    &:before {
                        transform: scaleX(0);
                    }
                }

            }

        }

        &-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 22px;
            @include respond-to($tablet) {
                padding: 0 ;
                width: 100%;
                max-width: 250px;
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 20px;

                p {
                    color: #c8c8c8;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1;
                    padding-bottom: 5px;
                    letter-spacing: -.9px;
                    @include respond-to($tablet) {
                        padding-bottom: 3px;
                    }
                }

                a {
                    color: #c8c8c8;
                    font-size: 20px;
                    display: inline-block;
                    position: relative;
                    padding-bottom: 5px;
                    letter-spacing: -.9px;
                    line-height: 1;
                    &:before {
                        content: '';
                        height: 1px;
                        width: 100%;
                        background: #c8c8c8;
                        position: absolute;
                        bottom: 3px;
                        left: 0;
                        right: 0;
                        transform: scaleX(0);
                        transition: transform .3s;
                    }

                    &:hover {
                        &:before {
                            transform: scaleX(1);
                        }
                    }

                }
            }

            .soc {
                display: flex;

                .btn-soc {
                    margin-right: 20px;
                    display: inline-block;
                }
            }

        }



    }
}

.btn-orange {
    font-size: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    width: 100%;
    max-width: 436px;
    border-radius: 20px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    transition: color .3s;
    z-index: 2;
    @include respond-to($large) {
        height: 75px;
        max-width: 320px;
        font-size: 32px;

    }

    &:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-image: linear-gradient(0deg, #b7292b 0%, #efac28 100%);
        transition: opacity .3s;
        z-index: -1;
    }

    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-image: linear-gradient(0deg, #efac28 0%, #b7292b 100%);
        transition: opacity .3s;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            opacity: 0;
        }
        &:after {
            opacity: 1;
        }

    }
}