$color-white: #fff;
$color-black: #000;
$color-brand-blue: #99CBFF;
$color-gray: #959595;
$color-error: #FF3A44;
$color-grey-text: #808080;

$black-btn-hover: #3A3A3A;

$font-color-default:  $color-black;
$font-color-invert: $color-white;
$font-family-primary: 'Manrope', 'Arial';
$font-family-secondary: 'Manrope', 'Arial';
$font-size-base: 16px;
$font-color-default: $font-color-default;
